body
{ background-color: #999999; }

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 4px solid #000099;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  }

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  text-decoration: none;
  border: 0;
  padding: 20px 20px 20px 20px;
  margin: 0;
  background-image: linear-gradient(to top, #053c8c, #2a4da3, #435ebb, #5b70d4, #7282ed);
  grid-column: span 4;
}

h1 a{
  text-decoration: none;
  color: #7AB3E4;
}

h1 a:hover{
color: #AFF4F7;
}

nav {
  grid-column: span 4;
  border: 0;
  background-color: #053C8C;
  background-image: linear-gradient(to top, #053c8c, #2a4da3, #435ebb, #5b70d4, #7282ed);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

nav li {
  width: 200px;
  grid-column: span 1;
}

nav li a {
  display: block;
  background-image: linear-gradient(to top, #053c8c, #2a4da3, #435ebb, #5b70d4, #7282ed);
  border: 0;
  padding: .75em;
  width: 212px;
  color: #7AB3E4;
  text-decoration: none;
  border-right: 5px solid #053C8C;
}

nav li a:hover{
  background-image: linear-gradient(to bottom, #053c8c, #2a4da3, #435ebb, #5b70d4, #7282ed);
  color: #AFF4F7;
}

main{
    grid-column: span 4;
}

main h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #0000aa;
  border-bottom: 4px solid #0000aa;
  padding-bottom: 6px;
  margin: 20px 20px 0px 20px;
  grid-column: span 4;
}

main h3 {
  font-size: 23px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #0000aa;
  border-bottom: 4px solid #0000aa;
  padding-bottom: 6px;
  margin: 20px 20px 0px 20px;
  grid-column: span 4;
}

main img {
  float: left;
  margin: 20px 20px 20px 20px;
  border: 4px solid #0000aa;
  padding: 0;
}

.p1 {
  margin: 20px 20px 20px 20px;
  text-align: justify;
  font-weight: bold;
}

.p2{
  margin: 20px 20px 20px 20px;
}

.p3{
  margin: 20px 20px 20px 20px;
}

.p4{
  margin: 20px 20px 20px 20px;
}
.Red{
  color:#ff0000;
  font-weight: bold;
  text-decoration: none;
}
p a:hover{
 color: #000099;
 text-decoration: underline;
}
footer{
  border-top: 4px solid #000099;
  padding: 20px 600px 20px 20px;
  grid-column: span 4;
  background-color: red;
}
